# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/

# Node
node_modules/
dist/

# Environment
.env

# Docker
postgres_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Byte-compiled / optimized / DLL files
*.so
*.egg-info/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller / PyBuilder / poetry / pipenv / pdm / Celery / mypy / pytype / Cython / etc.
.installed.cfg
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
MANIFEST
celerybeat-schedule
celerybeat.pid
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Other
.abstra/
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/
